<% include partials/header %>
 

 <div class="jumbotron rounded-0 bg-dark text-light">
   <div class="container">
     <h1>Register</h1>
  
   </div>
 </div>
  

    
<% include partials/footer %>    

 