<% include ../partials/header %>
 

 <div class="jumbotron rounded-0 bg-dark text-light mb-0">
   <div class="container">
     <h1>Edit Post Form</h1>
   </div>
 </div>


    
<% include ../partials/footer %>    

 